In [11]:
import pandas as pd
import random 
import time
from datetime import timedelta
cost_matrix = pd.read_csv('Cost_matrix10.csv',header=None)
flow_matrix = pd.read_csv('Flow_matrix10.csv',header=None)

In [12]:
def get_initial_solution(cost_matrix,flow_matrix,alpha,number_of_hubs):
    hubs = []
    solution = []
    total_cost = 0
    #randomly select certain number of hubs
    while len(hubs)< number_of_hubs:
        random_number = random.randint(0,9)
        if random_number not in hubs:
            hubs.append(random_number)
    #allocate nodes to their nearest hubs
    for i in range(len(cost_matrix)):
        target_hub = hubs[0]
        for hub in hubs:
            if cost_matrix[i][hub]< cost_matrix[i][target_hub]:
                target_hub = hub
        solution.append(target_hub)
    # calculate total_cost follow Spoke-Hub-Hub-spoke strategy
    for i in range(len(flow_matrix)):
        for j in range(len(flow_matrix)):
            collection_cost = flow_matrix[i][j] * cost_matrix[i][solution[i]]
            transportation_cost = flow_matrix[i][j] * cost_matrix[solution[i]][solution[j]] * alpha
            distribution_cost = flow_matrix[i][j] * cost_matrix[solution[j]][j]
            cost = collection_cost + transportation_cost + distribution_cost
            total_cost += cost
    return hubs,solution,total_cost

In [13]:
start = time.time()
print("Solution: ", get_initial_solution(cost_matrix,flow_matrix,0.2,3))
end = time.time()
print("time elapsed:", end - start, "seconds")

Solution:  ([9, 0, 6], [0, 0, 0, 0, 0, 0, 6, 6, 0, 9], 979806807.3686004)
time elapsed: 0:00:00.014709 seconds

In [4]:
cost_matrix

,0,1,2,3,4,5,6,7,8,9
0,0.0000,576.9631,946.4954,597.5972,373.8127,559.7673,709.0215,1208.3280,603.6477,695.2080
1,576.9631,0.0000,369.5327,613.0386,429.1079,312.8831,1196.4890,1502.1400,405.8975,1241.9610
2,946.4954,369.5327,0.0000,858.3308,749.6018,556.0706,1541.2730,1764.7910,621.3306,1603.1650
3,597.5972,613.0386,858.3308,0.0000,255.0303,311.3071,790.1213,907.4331,237.0703,932.2173
4,373.8127,429.1079,749.6018,255.0303,0.0000,225.8954,794.1726,1080.3740,238.9440,879.5647
5,559.7673,312.8831,556.0706,311.3071,225.8954,0.0000,1009.6890,1216.8680,94.2588,1104.5740
6,709.0215,1196.4890,1541.2730,790.1213,794.1726,1009.6890,0.0000,663.8762,982.7378,221.4220
7,1208.3280,1502.1400,1764.7910,907.4331,1080.3740,1216.8680,663.8762,0.0000,1143.7910,874.5181
8,603.6477,405.8975,621.3306,237.0703,238.9440,94.2588,982.7378,1143.7910,0.0000,1094.9060
9,695.2080,1241.9610,1603.1650,932.2173,879.5647,1104.5740,221.4220,874.5181,1094.9060,0.0000